.boardWrapper {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
}

.cell {
	display: inline-block;
	height: 50px;
	width: 50px;
	text-align: center;
	font-family: 'IBM Plex Mono', monospace;
	font-size: 2rem;
	border: 1px solid #bbb;
    margin: 0;
	caret-color: transparent;
	font-weight: bold;
	cursor: pointer;

	&.invalid {
		color: red;
	}

	&.disabled {
		background-color: #DDD;
		&:focus {
			background-color: #7AC7E0;
		}
	}
	&:focus {
		background-color: #8AD8F2;
		outline: none;
	}
}

.row:nth-child(3n) .cell {
	border-bottom: 2px solid black;
}

.row:first-child .cell {
	border-top: 2px solid black;
}

.cell:nth-child(3n) {
	border-right: 2px solid black;
}

.cell:first-child {
	border-left: 2px solid black;	
}