@import '../../Vars';

.gameWrapper {
    $around-board-margin: 15px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    min-height: 100vh;

    .buttonSecondary {
        @include button-secondary(100px);
        margin-right: 7px;
    }
    .buttonSecondary:last-child {
        margin: 0;
    }

    .gameTopSection {
        margin-bottom: $around-board-margin;
        display: flex;
        justify-content: space-between;

        .difficultyIndicator {
            height: $secondary-button-size;
            
        }
    }
    
    .gameSubSection {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        .buttonsWrapper {
            display: flex;
            justify-content: center;
            max-width: 90vw;

            .candidateModeButton {
                display: flex;
                min-width: 142px;
                justify-content: space-between;
                align-items: center;
                letter-spacing: 0;
                padding: 0;
                padding-left: 6px;
                border-radius: 0;
                
                div {
                    position: relative;
                    right: -1px;
                    min-width: 40px;
                    height: 28px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-right: 1px solid $light-mid-gray;
                }

                &.off > div {
                    background-color: $almost-white;
                    color: $almost-black;
                }
                &.on > div {
                    background-color: $almost-black;
                    color: $almost-white;
                }
                
                &:hover,
                &:focus {
                    div {
                        border-right: 1px solid $almost-black;
                    }
                    // &.off > div {
                    //     background-color: $very-light-gray;
                    // }
                    // &.on > div {
                    //     background-color: $dark-mid-gray;
                    // }
                }
                
                &:active {
                    top: 0;
                    left: 0;
                    border: 1px solid $almost-black;
                }
            }
        }

        .boardSpacer {
            height: 1px;
            width: 90%;
            max-width: 70vw;
            background-color: $light-gray;
            margin-top: 15px;
        }
    }

    .inputNumbersWrapper,
    .buttonsWrapper {
        margin-top: $around-board-margin;
    }

    // Checkbox switch
    input[type='checkbox'] {
        width: 0;
        height: 0;
        visibility: hidden;
    }
    label {
        width: 40px;
        height: 18px;
        display: block;
        background-color: $light-mid-gray;
        border-radius: 100px;
        position: relative;
        cursor: pointer;
        transition: 0.5s;
    }
    label::after {
        content: '';
        width: 26px;
        height: 26px;
        background-color: $almost-white;
        position: absolute;
        border-radius: 13px;
        top: -3px;
        left: -3px;
        transition: 0.15s;
        box-shadow: 1px 1px 5px $shadow-color;
    }
    input:checked + label:after {
        left: calc(100% + 3px);
        transform: translateX(-100%);
    }
    input:checked + label {
        background-color: $active-color;
    }
    label:active:after {
        width: 28px;
    }
    // End Radio Button
}