@import '../../Vars';

.inputNumbersWrapper {
    $outer-border: 2px solid black;
    $inner-border: 1px solid $light-mid-gray;
    display: flex;

    .inputNumber {
        position: relative;
        display: inline-block;
        height: $cell-size;
        width: $cell-size;
        max-height: $cell-max-size;
        max-width: $cell-max-size;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: $cell-font-size;
        font-family: 'IBM Plex Mono', monospace;
        font-weight: bold;
        border: $outer-border;
        border-left: none;
        border-right: $inner-border;
        
        @media (max-width: $board-max-size-break) {
            font-size: $cell-adjustable-font-size;
        }
        
        .possibilityRow {
            width: 100%;
            display: flex;
            justify-content: space-around;
        }

        .possibilityCell {
            position: relative;
            top: -5px;
            font-size: 14px;
            height: 12px;
            width: 10px;
            text-align: center;
            vertical-align: center;
            position: relative;
            top: -2px;
            color: $dark-mid-gray;

            @media (max-width: $board-max-size-break) {
                font-size: calc(2vw + 0.2rem);
                height: 2vw;
                width: 2vw;
                top: -1vw;
            };
        }

        &:hover, &:focus {
            background-color: $focus-color;
            outline: none;
        }

        &:active {
            background-color: $active-color;
        }
    }
    
    .inputNumber:first-child {
        border-left: $outer-border;
    }
    .inputNumber:last-child {
        border-right: $outer-border;
    }
}
